<h1 style="text-align: center">Spel naam: {{name}}</h1>
<p style="text-align: center">
    <img src="assets/qrcode.png" alt="scan to join" /><br />
    <a href="http://localhost:4200/join/ABCDE">http://localhost:4200/join/ABCDE</a>
</p>