<div class="card-container">
<mat-card class="example-card">
    <mat-card-subtitle>Nieuw Game Event</mat-card-subtitle>
    <mat-card-content>
        <mat-form-field appearance="fill">
            <mat-label>Game Naam</mat-label>
            <input matInput [(ngModel)]="gameName">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Organisator</mat-label>
            <input matInput>
          </mat-form-field>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
        <button mat-raised-button color="primary"  (click)="onNewClick()">Start</button>
    </mat-card-actions>
</mat-card>

<mat-card class="example-card">
    <mat-card-subtitle>Join Game Event</mat-card-subtitle>
    <mat-card-content>
        <mat-form-field appearance="fill">
            <mat-label>Code</mat-label>
            <input matInput [(ngModel)]="joinCode">
          </mat-form-field>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onJoinClick()">Join</button>
    </mat-card-actions>
</mat-card>
</div>