
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.example-card {
    width: 300px;
    margin: 20px;
}

.example-card .mat-card-content {
  height: 140px;
}

.example-card mat-form-field {
  width: 100%;
}